* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eef6ee;
  color: #333;
  line-height: 1.6;
}
header {
  background-color: #2e7d32;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.logo h1 {
  font-size: 2.5rem;
}
.logo p {
  font-size: 1.2rem;
}
nav ul {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 30px;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}
section {
  padding: 60px 20px;
  text-align: center;
}

.light-bg {
  background-color: #dcedc8;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  border-radius: 5px;
}
.btn:hover {
  background-color: #388e3c;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);

}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.card h3 {
   color: #2e7d32;
   margin-top: 10px;
}

.events-list {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
}

footer {
  background-color: #2e7d32;
  color: #fff;
  text-align: center;
  padding: 20px;
}
footer h1{
  font-size: 20px;
}
footer p{
  font-size: 10px;
}
